﻿@model IEnumerable<S4sme.Domain.Category>
<div class="sectiontitle">Categories</div>
<div id="sectionitem">
  <div class="itemlist">
    <ul> 
    @foreach (var item in Model)
    {
        <li>@Html.RouteLink(@item.Name + "(" + @item.Posts.Count + ")",
         new { controller = "Posts", action = "PostsInCategory", category = item.Name })</li>
    }      
    </ul>
  </div>
</div>

