﻿@using S4sme.Web.Resources;
@model S4sme.Tasks.ViewModels.CreateContactViewModel
           
<div id="basicformsection" class="formbase">
<p>@Html.ValidationSummary("Please correct the following")</p>
@using (Html.BeginForm("Contact", ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "basicform" }))
{						
	<table>
		<tbody>
			<tr>
				<th>@Html.LabelFor(l => l.Name, Resource_Common.LabelName) *</th>
				<td>
				@Html.TextBoxFor(x => x.Name )
				@Html.ValidationMessageFor(m => m.Name, "*")
				</td>
			</tr>
			<tr><th>@Html.LabelFor(l => l.Email, Resource_Common.LabelEmail) *</th>
			<td>
			@Html.TextBoxFor(x => x.Email)
			@Html.ValidationMessageFor(m => m.Email, "*")
			</td>
			</tr>
			<tr><th>@Html.LabelFor(l => l.Subject, Resource_Common.LabelSubject) *</th><td>
			@Html.TextBoxFor(x => x.Subject)
			@Html.ValidationMessageFor(m => m.Subject, "*")
			</td>
			</tr>
			<tr><th>@Html.LabelFor(l => l.Message, Resource_Common.LabelMessage) *</th>
			<td>
			@Html.TextAreaFor(x=> x.Message)
		    @Html.ValidationMessageFor(m => m.Message, "*")
			</td>
			</tr>
			<tr><th></th><td><input id="contactsubmit" class="btnsubmit" type="submit" value="Submit &gt;&gt;"/></td>
			</tr>
		</tbody>
	</table>
}
</div>
@*<script type="text/javascript">
        $(document).ready(function () {
            $("#contactsubmit").submit(function () {
                $(this).addClass("buttonSubmitHide");
                return true;
            });
        });
</script>*@