﻿@using S4sme.Web.Resources;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "S4sme" + " Error Page";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

<div id="maincnt">
    <div id="content" style="height:500px">
     <h2 style="margin: 100px auto; text-align:center; background:gray; padding: 50px 10px">@Resource_Common.ErrorMessage</h2>
    </div>
  </div>