﻿@using S4sme.Web.Resources;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "S4sme" + " Message page";
    ViewBag.Keywords = Resource_Common.SiteKeyWords;
    ViewBag.Description = Resource_Common.SiteDescription;
}

<div id="maincnt">
    <div id="content" style="height:500px">
     <h2 style="margin: 100px auto; text-align:center; background:gray; padding: 50px 10px">@ViewBag.Message</h2>
      <p><a href="@ViewBag.ReturnUrl" >@Resource_Common.ReturnLink</a></p>
    </div>
  </div>
