﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    @RenderSection("Stylesheets", false)
</head>

<body>
    <div id="mainContent">
        @if (TempData["message"] != null) {
            <div class="message">@TempData["message"]</div>
        }

        @if (ViewData["message"] != null) {
            <div class="message">@ViewData["message"]</div>
        }

        @RenderBody()
    </div>
</body>
</html>
