﻿@using S4sme.Web.Resources;
@using S4sme.Web.Infrastructure.Globalisation;
@using S4sme.Core.Configuration;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css" rel="stylesheet"
        type="text/css" />
    <link href="@Url.Content("~/Themes/" + Settings.CurrentTheme + "/Content/css/main.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Stylesheets", false)
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="Global" name="Distribution" />
    <meta content="@Resource_Common.SiteAuthor" name="Author" />
</head>
<body @RenderSection("Prettify", false)>
    <div id="page" class="pageblogbg">
        <div id="wrapperblog" class="wrap">
            <div id="header">
                <div id="lang">
                 <a href="@Url.GlobalisedRouteUrl("ru", ViewContext.RouteData, ViewContext.HttpContext.Request.QueryString)" title="@Resource_Common.LangRu">
                    <img alt="ru" src="@Url.Content("~/Themes/" + Settings.CurrentTheme + "/content/img/ru.gif")" />
                 </a>&nbsp; 
                 <a href="@Url.GlobalisedRouteUrl("en", ViewContext.RouteData, ViewContext.HttpContext.Request.QueryString)" title="@Resource_Common.LangEn">
                    <img alt="en" src="@Url.Content("~/Themes/" + Settings.CurrentTheme + "/content/img/gb.gif")" />
                 </a>
                </div>
                <div id="nav">
                    <span id="logo">
                        <img alt="logo" src="@Url.Content("~/Themes/" + Settings.CurrentTheme + "/content/img/logo_03.gif")" /></span>
                    <ul>
                        <li>
                            @Html.ActionLink(Resource_Common.MainNavHome, "Index", "Home", new { area = "" }, null)
                        </li>
                        <li>
                            @Html.ActionLink(Resource_Common.MainNavBlog, "Index", "Posts", new { area = "Blog" }, new { id = "current" })
                        </li>
                    </ul>
                </div>
            </div>
            <div id="submenu">
                <div id="submenuframe">
                @{ var actionName = ViewContext.RouteData.Values["action"].ToString(); }
                    <ul>
                        <li>@Html.ActionLink(Resource_Blog.SubNavArchive, "Index", "Posts", new { area = "Blog" }, actionName == "Index" ? new { id = "subcurrent" } : null)</li>
                        <li>@Html.ActionLink(Resource_Blog.SubNavProjects, "Projects", "About", new { area = "Blog" }, actionName == "Projects" ? new { id = "subcurrent" } : null)</li>
                        <li>@Html.ActionLink(Resource_Blog.SubNavCv, "Cv", "About", new { area = "Blog" }, actionName == "Cv" ? new { id = "subcurrent" } : null)</li>
                        <li>@Html.ActionLink(Resource_Blog.SubNavContact, "Contact", "About", new { area = "Blog" }, actionName == "Contact" ? new { id = "subcurrent" } : null)</li>
                    </ul>
                </div>
            </div>
            @RenderBody()
            <div id="wrapperfooter">
                <div id="footerblog">
                    <div id="footercontent">
                        <p>
                            S4SME.com &copy;
                            @Resource_Common.Сopyright
                        </p>
                        <br />
                        <p class="horAd">
                            <script type="text/javascript"><!--
                                google_ad_client = "pub-9186582526578916";
                                google_ad_slot = "2642369506";
                                google_ad_width = 468;
                                google_ad_height = 60;
                //-->
                            </script>
                            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                            </script>
                        </p>
                    </div>
                </div>
            </div>
            <div id="staticblog" class="static">
                <div id="searchcntrl">
                    <img alt="search" src="@Url.Content("~/Themes/" + Settings.CurrentTheme + "/content/img/search.gif")" /><span>@Resource_Blog.SearchBlog</span><br />
                    <p id="searchinput">
                        <input id="searchinputcntrl" type="text" onkeyup="if (this.value) {searchwords(this.value)} else {clearresults()}" /></p>
                    <small>
                        @Resource_Blog.SearchNote</small>
                </div>
                @*<asp:ContentPlaceHolder ID="RightBarContent" runat="server" />*@
                <div class="sectiontitle">
                    About</div>
                <div class="sectionitem" style="">
                    <div class="sectiontextcontent wrappedtext colorGR">
                        <img class="leftfloat wrappedimg2" src="@Url.Content("~/Themes/" + Settings.CurrentTheme + "/content/img/myimg.gif")" alt="Personal image"
                            width="130" />
                        My name is Sergey Kosik. I am a software engineer and write this blog about software
                        development, design, and architecture to solve business problems...
                        <br />
                    </div>
                    <span class="readmore">@Html.ActionLink(Resource_Blog.ProfileLink, "Profile", "About", new { area = "Blog" }, null)</span>
                </div>
                <div class="clr"></div>

                @Html.Action("List", "Category")
                @Html.Action("List", "Tag")
                
                <div class="sectiontitle">
                    Disclaimer</div>
                <div class="sectionitem">
                    <p class="sectiontextcontent colorWT">
                        Everything you see in this blog is my own personal opinion, based on my experience
                        in the software field.
                        <br />
                        <br />
                        It should also be noted that all software downloaded from this site provided "AS-IS"
                        with no warranties, and confer no rights.
                        <br />
                    </p>
                </div>
                <div class="sectionitem">
        <br />
        <script type="text/javascript"><!--
            google_ad_client = "pub-9186582526578916";
            google_ad_slot = "9069567704";
            google_ad_width = 200;
            google_ad_height = 90;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </div>
                @* end of rightbarcontent *@
            </div>
        </div>
    </div>
    
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.js" type="text/javascript"></script>
  @RenderSection("Javascripts", false)
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30206085-1']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
</script>
  @*
  <script type="text/javascript" src="/content/js/utils.js"></script>
  <script type="text/javascript" src="/content/js/jquery.highlight-3.yui.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          qsParm = getQueryStringArgs();
          if (qsParm["srch"] != undefined)
              $('#maincntblog').highlight(qsParm["srch"]);
      });
  </script>*@
  
</body>
</html>
