﻿@using S4sme.Web.Resources;
@{
    Layout = "../Shared/_BlogLayout.cshtml";
    ViewBag.Title = Resource_Blog.BlogName + " Message page";
    ViewBag.Keywords = Resource_Blog.BlogKeyWords;
    ViewBag.Description = Resource_Blog.BlogDescription;
}

<div id="maincntblog">
	<div id="content" style="height:400px">
		<h2 style="margin: 100px auto; text-align:center; background:gray; padding: 50px 10px">@ViewBag.Message</h2>
        <p><a href="@ViewBag.ReturnUrl" >@Resource_Common.ReturnLink</a></p>				
	</div>
</div>

