﻿@model S4sme.Tasks.Blog.ViewModels.EditTagViewModel
           
@{
    ViewBag.Title = "Edit Tag";
}

<h2>Tag Form</h2>

@using (Html.BeginForm("EditTag", "Admin")) {
    @Html.ValidationSummary("Please note the following:")
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Tag</legend>

        @Html.HiddenFor(m => m.Tag.Id)
        @Html.EditorFor(m => m.Tag.Name)

        <p>
            <input type="submit" value="Save" /> 
            @Html.ActionLink("Cancel", "Tags")
        </p>
    </fieldset>
}