﻿@model S4sme.Tasks.Blog.ViewModels.EditCommentViewModel
           
@{
    ViewBag.Title = "Edit Comment";
}

<h2>Comment Form</h2>

@using (Html.BeginForm("EditComment", "Admin")) {
    @Html.ValidationSummary("Please note the following:")
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Comment</legend>

        @Html.HiddenFor(m => m.Comment.Id)<br />
        @Html.HiddenFor(m => m.Comment.PostFk)<br />
        Content<br />
        @Html.TextAreaFor(m => m.Comment.Content)<br />
        Email<br />
        @Html.EditorFor(m => m.Comment.Email)<br />
        Author<br />
        @Html.EditorFor(m => m.Comment.Author)<br />
        Website<br />
        @Html.EditorFor(m => m.Comment.Website)<br />
        IP<br />
        @Html.TextAreaFor(m => m.Comment.Ip)<br />
        Created Date<br />
        @Html.EditorFor(m => m.Comment.CreatedDate)<br />        
        @Html.CheckBoxFor(m => m.Comment.IsApproved) Approved?<br />
        @Html.CheckBoxFor(m => m.Comment.IsDeleted) Deleted?<br />
        @Html.CheckBoxFor(m => m.Comment.IsDeleted) Spam?<br />

        <p>
            <input type="submit" value="Save" /> 
            @Html.ActionLink("Cancel", "Comments")
        </p>
    </fieldset>
}