﻿@model IEnumerable<S4sme.Domain.Tag>
           
@{
    ViewBag.Title = "Tag List";
}

<h2>Tag List</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTag", new { id = item.Id }) |
                
                @using (Html.BeginForm("DeleteTag", "Admin", FormMethod.Post, new { style = "display:inline" })) {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", item.Id)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Create New", "CreateTag")
</p>