﻿@using S4sme.Tasks.ViewModels;
@{
    ViewBag.Title = "S4SME - Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="maincnt">
	<div id="content" class="maincontentbg">
		<h2>Contact Us...</h2>
		<h3>If you would like to contact us about designing/developing an IT solution for your business, 
		or if you are interested in any of our other services, please fill out the form below. We will contact you promptly.<br />
		</h3>
				
		@Html.Partial("_ContactForm", new CreateContactViewModel())
					
		<br/><h3>Thank you for visiting s4sme.com. We hope to see you again.</h3><br />
					
	</div>				
</div>
