﻿@using S4sme.Web.Resources;
@using S4sme.Core.Configuration;
@{
    ViewBag.Title = "S4SME - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="maincnt">
    <div id="content" class="maincontentbg">
        <h1>
            @Resource_Site.Title1</h1>
        <h1>
            &nbsp;&nbsp;&nbsp;&nbsp; @Resource_Site.Title2</h1>
        <h1>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Resource_Site.Title3</h1>
        <h3>
            @Html.Raw(Resource_Site.Slogan)</h3>
        <h4>
            @Resource_Site.Aim</h4>
    </div>
    <div id="sections">
        <div id="outstar">
            <div class="hr">
            </div>
        </div>
        <div id="sectionthumbs">
            <dl>
                <dt><a href="@Url.Action("Solutions")" title="@string.Format(Resource_Site.AdaptiveLayout, "")">@Html.Raw(string.Format(Resource_Site.AdaptiveLayout, "<br />"))</a></dt>
                <dd>
                    <a href="@Url.Action("Solutions")" title="@string.Format(Resource_Site.AdaptiveLayout, "")">
                        <img alt="@string.Format(Resource_Site.AdaptiveLayout, "")" height="80" src="@Url.Content("~/Themes/" + Settings.CurrentTheme + "/content/img/adapt_layout.jpg")" width="80" /></a></dd>
            </dl>
            <dl>
                <dt><a href="@Url.Action("Solutions")" title="@string.Format(Resource_Site.SmartApp, "")">@Html.Raw(string.Format(Resource_Site.SmartApp, "<br />"))</a></dt>
                <dd>
                    <a href="@Url.Action("Solutions")" title="@string.Format(Resource_Site.SmartApp, "")">
                        <img alt="@string.Format(Resource_Site.SmartApp, "")" height="80" src="@Url.Content("~/Themes/" + Settings.CurrentTheme + "/content/img/smart_apps.jpg")" width="80" /></a></dd>
            </dl>
            <dl>
                <dt><a href="@Url.Action("Solutions")" title="@string.Format(Resource_Site.IntellegentAlg, "")">@Html.Raw(string.Format(Resource_Site.IntellegentAlg, "<br />"))</a></dt>
                <dd>
                    <a href="@Url.Action("Solutions")" title="@string.Format(Resource_Site.IntellegentAlg, "")">
                        <img alt="@string.Format(Resource_Site.IntellegentAlg, "")" height="80" src="@Url.Content("~/Themes/" + Settings.CurrentTheme + "/content/img/intel_alg.jpg")" width="80" /></a></dd>
            </dl>
        </div>
    </div>
</div>
