﻿@{
    ViewBag.Title = "S4SME - Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div id="maincnt">
    <div id="content" style="height:300px">
      <h2>
        Solutions</h2>
      <div id="projectcnt">
        <p class="divsection">
          ...
        </p>
       
      </div>
    </div>
  </div>
