﻿@model IEnumerable<S4sme.Domain.Tag>
<div class="sectiontitle">Tags</div>
<div class="sectionitem">
    <p class="sectiontextcontent">
    @foreach (var item in Model)
    {
        @Html.RouteLink(@item.Name,
        new { controller = "Posts", action = "PostsInTag", tag = item.Name }, new { title = @item.Posts.Count + " post(s)", @class = S4sme.Domain.Utilities.StringUtils.GetTagClass(@item.Posts.Count, (int)@ViewBag.TotalPosts) })
        <text>&nbsp;</text>
    }
    </p>
</div>