﻿@using S4sme.Web.Resources;
@using S4sme.Tasks.ViewModels;
@{
    ViewBag.Title = Resource_Blog.BlogName + " - " + Resource_Blog.SubNavContact;
    ViewBag.Desciption = Resource_Blog.BlogDescription;
    ViewBag.Keywords = Resource_Blog.BlogKeyWords;
    Layout = "../Shared/_BlogLayout.cshtml";
}

<div id="maincntblog">
	<div id="content">
		<h2>@Resource_Blog.SubNavContact</h2>
		<h3>Please use the following form to contact me.<br />
		Your feedback, suggestions and comments are most welcome.</h3>
				
		@Html.Partial("_ContactForm", new CreateContactViewModel())
				
	</div>
</div>


