﻿@using S4sme.Web.Resources;
@{
    ViewBag.Title = Resource_Blog.BlogName + " - " + Resource_Blog.SubNavCv;
    ViewBag.Desciption = Resource_Blog.BlogDescription;
    ViewBag.Keywords = Resource_Blog.BlogKeyWords;
    Layout = "../Shared/_BlogLayout.cshtml";
}

<div id="maincntblog">
	<div id="content" style="height:300px">
		<h2>@Resource_Blog.SubNavCv</h2>
		<br/><br/><br/>
		<h3>My up-to-date CV available <a href="@Url.Content("~/uploads/files/SKosik_CV.pdf")" title="Sergey Kosik's CV">here</a> in pdf format.<br />
		</h3>
				
	</div>
</div>
