﻿@using S4sme.Web.Resources;
@using S4sme.Core.Configuration;
@{
    ViewBag.Title = Resource_Blog.BlogName + " - " + "About";
    ViewBag.Desciption = Resource_Blog.BlogDescription;
    ViewBag.Keywords = Resource_Blog.BlogKeyWords;
    Layout = "../Shared/_BlogLayout.cshtml";
}

<div id="maincntblog">
			<div id="content">
				<h2>About</h2>
				<br />
				<table>
					<tr><td><img class="wrappedimg2" alt="My photo" src="@Url.Content("~/Themes/" + Settings.CurrentTheme + "/content/img/myimg.gif")" /></td>
					<td class="colorGR" style="vertical-align:top; padding: 5px 0px 0px 10px">My name is Sergey Kosik.<br /><br/> 
I am a software engineer currently employed with Ryanair in Ireland where I spend most of my 
time for coding, debugging, profiling, testing of software applications on Microsoft platform. 
Apart from my daily job activities, I am also the creator and owner of <b>s4sme.com</b> and 
write this blog about software development, design, and architecture to solve business problems... 
</td></tr>
				</table>
				<div class="colorGR">
				<p class="divsection">Before joining Ryanair, I spent several years working as a software developer for a number of small enterprises, developing a variety of applications for desktop/mobile/web platforms using a number of architectural styles: client-server, component-based, layered, SOA, n-tier.</p> 

<p class="divsection">As a result of this experience, I've had a lot of exposure to the full life-cycle of software development process together with project management practices.</p> 

<p class="divsection">I hold a BSc Honours (1st class) in Information Technology and Information Systems from Dublin Institute of Technology (DIT).</p>

<p class="divsection">I'm certainly passionate about technology &amp; programming, but I also enjoy building electronic circuits, listen music, play guitar, PC gaming, reading and, above all, time with my wife and my daughter.</p> 

				</div>
			</div>
		</div>
