﻿@using S4sme.Web.Resources;
@using S4sme.Core.Configuration;
@{
    ViewBag.Title = Resource_Blog.BlogName + " - " + Resource_Blog.SubNavProjects;
    ViewBag.Desciption = Resource_Blog.BlogDescription;
    ViewBag.Keywords = Resource_Blog.BlogKeyWords;
    Layout = "../Shared/_BlogLayout.cshtml";
}

<div id="maincntblog">
	<div id="content">
		<h2>My Projects</h2>
		<h5>This section lists a number of my personal projects. Some of 
		them I have developed for my college assignments and some of them 
		I have built in my spare time.</h5>
		<div id="projectlist">
			<dl>
				<dt>
				<a href="@Url.Action("Details", "Posts", new { slug = "xletl" })" title="Final Year Project - Read the full description">
				BSc (Honors) Final Year Project</a></dt>
				<dd class="img">
				<a href="@Url.Action("Details", "Posts", new { slug = "xletl" })" title="Final Year Project - Read the full description">
				<img alt="Final Year Project - Read the full description" height="100" src="@Url.Content("~/uploads/posts_images/10/fp-thumb.jpg")" width="100" /></a></dd>
				<dd>The purpose of this project is to design and develop 
				the solution for data warehouse that will automate data 
				integration of Excel spreadsheets into SQL server using 
				extract, transform, and load (ETL) process...</dd>
				<dd>
				<a href="@Url.Action("Details", "Posts", new { slug = "xletl" })" title="Final Year Project - Read the full description">
				Read the full project description</a></dd>
			</dl>
			<dl class="alt">
				<dt>
				<a href="@Url.Action("Details", "Posts", new { slug = "ficticious-e-commerce-book-store-based-on-flex-with-xml-php-and-mysql" })" title="Ficticious E-Commerce Project - Read the full description">
				Ficticious E-Commerce Book store based on Flex with XML, PHP, and MySQL</a></dt>
				<dd class="img">
				<a href="@Url.Action("Details", "Posts", new { slug = "ficticious-e-commerce-book-store-based-on-flex-with-xml-php-and-mysql" })" title="Ficticious E-Commerce Project - Read the full description">
				<img alt="Ficticious E-Commerce Project - Read the full description" height="100" src="@Url.Content("~/uploads/posts_images/11/flex-thumb.jpg")" width="100" /></a></dd>
				<dd>Design and development of a Rich Internet Application 
				using Adobe Flex, XML, PHP, and MySQL...</dd>
				<dd>
				<a href="@Url.Action("Details", "Posts", new { slug = "ficticious-e-commerce-book-store-based-on-flex-with-xml-php-and-mysql" })" title="Ficticious E-Commerce Project - Read the full description">
				Read the full project description</a></dd>
			</dl>
			<dl>
				<dt>
				<a href="@Url.Action("Details", "Posts", new { slug = "aspnet-mvc-photo-gallery-with-jquery-xslt-and-xml" })" title="Asp.Net MVC Photo Gallery Project - Read the full description">
				Asp.Net MVC Photo Gallery with jQuery, XSLT and XML</a></dt>
				<dd class="img">
				<a href="@Url.Action("Details", "Posts", new { slug = "aspnet-mvc-photo-gallery-with-jquery-xslt-and-xml" })" title="Asp.Net MVC Photo Gallery Project - Read the full description">
				<img alt="Asp.Net MVC Photo Gallery Project - Read the full description" height="100" src="@Url.Content("~/uploads/posts_images/9/photos-thumb.jpg")" width="100" /></a></dd>
				<dd>This project demonstrates Asp.Net MVC Multilanguage Photo Gallery 
				application built with custom view engine which writes view templates 
				as XSLT...</dd>
				<dd><a href="@Url.Action("Details", "Posts", new { slug = "aspnet-mvc-photo-gallery-with-jquery-xslt-and-xml" })" title="Asp.Net MVC Photo Gallery Project - Read the full description">
				Read the full project description</a></dd>
			</dl>
			<dl class="alt">
				<dt>
				<a href="@Url.Action("Details", "Posts", new { slug = "php-mini-e-commerce-application" })" title="PHP Mini E-commerce Project - Read the full description">
				PHP Mini E-commerce application</a></dt>
				<dd class="img">
				<a href="@Url.Action("Details", "Posts", new { slug = "php-mini-e-commerce-application" })" title="PHP Mini E-commerce Project - Read the full description">
				<img alt="PHP Mini E-commerce Project - Read the full description" height="100" src="@Url.Content("~/uploads/posts_images/12/mini-thumb.jpg")" width="100" /></a></dd>
				<dd>This project covers design and development of a Mini E-commerce website as part of assignment for Internet Development module.</dd>
				<dd><a href="@Url.Action("Details", "Posts", new { slug = "php-mini-e-commerce-application" })" title="PHP Mini E-commerce Project - Read the full description">
				Read the full project description</a></dd>
			</dl>
			<dl>
				<dt>
				<a href="@Url.Action("Details", "Posts", new { slug = "bluetooth-information-website" })" title="Bluetooth information website - Read the full description">
				Bluetooth information website</a></dt>
				<dd class="img">
				<a href="@Url.Action("Details", "Posts", new { slug = "bluetooth-information-website" })" title="Bluetooth information website - Read the full description">
				<img alt="Bluetooth information website - Read the full description" height="100" src="@Url.Content("~/uploads/posts_images/13/bt-thumb.jpg")" width="100" /></a></dd>
				<dd>This project covers design and development of a static website using XHTML, CSS and graphic design in Photoshop as part of assignment for Internet Development module.</dd>
				<dd><a href="@Url.Action("Details", "Posts", new { slug = "bluetooth-information-website" })" title="Bluetooth information website - Read the full description">
				Read the full project description</a></dd>
			</dl>
			<dl class="alt">
				<dt>
				<a href="@Url.Action("Details", "Posts", new { slug = "beefjerky-web-shop---front-end-design-development" })" title="BeefJerky Web Shop - Read the full description">
				BeefJerky Web Shop – Front-end design &amp; development</a></dt>
				<dd class="img">
				<a href="@Url.Action("Details", "Posts", new { slug = "beefjerky-web-shop---front-end-design-development" })" title="BeefJerky Web Shop - Read the full description">
				<img alt="BeefJerky Web Shop - Read the full description" height="100" src="@Url.Content("~/uploads/posts_images/14/bj-thumb.jpg")" width="100" /></a></dd>
				<dd>This project demonstrates graphic and xhtml design of the web shop application which can be used for online commerce of BeefJerky products.</dd>
				<dd><a href="@Url.Action("Details", "Posts", new { slug = "beefjerky-web-shop---front-end-design-development" })" title="BeefJerky Web Shop - Read the full description">Read a 
				full project description</a></dd>
			</dl>
		</div>
	</div>
</div>