﻿@model S4sme.Tasks.Blog.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="maincnt">
	<div id="content" class="maincontentbg">
		<h2>Authentication</h2>
		<div id="basicformsection" class="formbase">
        <p>@Html.ValidationSummary("Please correct the following")</p> 
        @using (Html.BeginForm("Login", "Authentication", new {}, FormMethod.Post, new { id = "basicform" }))
        {
            @Html.HiddenFor(x => x.ReturnUrl);
            <table>
            <tr>
                <th>
                    @Html.LabelFor(m => m.Username)
                </th>
                <td>
                    @Html.TextBoxFor(m => m.Username)
                    @Html.ValidationMessageFor(m => m.Username, "*")
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(m => m.Password)
                </th>
                <td>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, "*")
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="Login" class="btnsubmit" />
                </td>
            </tr>
        </table>
        }       
        </div>					
	</div>				
</div>